.message {
    font-weight: 600;
    color: blue;
}

html, body {
    height: 100%;
}
  
body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    /* align-items: center; */
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background: url("./bg.jpg");
    background-size: cover;
}
  
h1 {
    color: #ffffff;
}
  
.card {
    opacity: 0.9;
}

.card:hover {
    opacity: 1.0;
}

.cursorPointer:hover {
    cursor: pointer;
}

.fa-4x.iconIcon.icon.pi-hole::before {
    width:64px;
    content: url('https://api.iconify.design/mdi-pi-hole.svg?color=%23007bff&height=64');
    height: 64px;
}
